$primary-color: #6633FF;
@mixin test-border{
    border: solid black 1px;
}

.blogs-main-content{
    // @include test-border();
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: auto;

    .blogs-first-text{
        font-size: 20px;
        margin-left: 0%;
        text-align: left;
        width: 100%;
        font-weight: bolder;
        color: $primary-color;
    }

    .blogs-search-bar{
        // @include test-border();
        display: flex;
        margin-left: 24%;
        margin-top: 3%;
        margin-bottom: 1%;
        width: 100%;

        .blogs-search-bar-div{
            // @include test-border();
            width: 40%;
            display: inline-flex;
            // margin-left: 10%;
            // margin-right: 4%;

            .blogs-searchbar{
                width: 70%;
                height: 45px;
                border: solid $primary-color 2px;
                border-radius: 20px;
                background-color: #f3f2f2;
                font-weight: bold;
                color: gray;
            }

            .blogs-search-button{
                background-color: $primary-color;
                height: 45px;
                width: 55px;
                border-radius: 20px;
                margin-left: -7%;
                color: #fff;
                border: none;
                font-size: 22px;
            }
        }

        .blogs-datelist{
            width: 15%;
            height: 45px;
            border: solid $primary-color 2px;
            border-radius: 20px;
            background-color: #f3f2f2;
            font-weight: bold;
            color: gray;
        }
    }

    .blogs-blog-section{
        margin-top: 5%;
    }
}